<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:label="Baytara"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:dataExtractionRules="@xml/data_extraction_rules">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <!--
              App Links for the payment gateway's return URL.

              android:autoVerify makes Android check
              https://baytara.app/.well-known/assetlinks.json and, if the app's signing
              fingerprint is listed there, open the app directly instead of the browser.
              WITHOUT that file on the server this still works, but as a disambiguation
              dialog rather than a silent hand-off. Publishing assetlinks.json is a
              server-side task and is listed in the milestone doc.
            -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="https"
                      android:host="baytara.app"
                      android:pathPrefix="/payment/callback"/>
            </intent-filter>

            <!--
              Shared library pages: a book summary or an article.

              Only paths the app can actually render are claimed here. Claiming more would
              mean intercepting a link and then showing nothing, which is worse for the
              reader than the browser they would otherwise have got. The mapping from these
              URLs to in-app routes is lib/core/links/app_link.dart, and the two must be
              changed together.

              Note the website's article URL is /blog/<slug>, not /articles/<slug> - the
              second is the app's own route. Both are claimed because both are in
              circulation.
            -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="https" android:host="baytara.app"/>
                <data android:pathPrefix="/library"/>
                <data android:pathPrefix="/blog"/>
                <data android:pathPrefix="/articles/"/>
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
